@import "tailwindcss";

.active {
  color: #00a297;
}

a:hover {
  color: #00a297;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-in-out;
}

.animate__delay-05s {
  animation-delay: 0.3s;
}

.lg-flex-row {
  @media (width >= 1200px) {
    flex-direction: row;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}
